#toppage {
    background: url("../backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div img#delogo {
    width: 90px;
    align-self: center;
}
div img#mouseck {
    width: 23px;
    align-self: center;
    position: absolute;
    bottom: 20px;
}
#context{
    padding: 50px;
}
#midpage {
    background: url("../backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
}
#star div div img{
    height: 90px;
}
#port{
    padding: 20px;
}
#port img{
    width: 100%;
}
#btmpg{
    background: url("../backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
#btmcont input, #btmcont textarea{
    background: transparent;   
}
#socont {
    padding: 20px;
}
